@font-face {
  font-family: "DINRoundOT";
  src: url("/assets/fonts/DINRoundOT.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "DINRoundOT";
  src: url("/assets/fonts/DINRoundOT-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "DINRoundOT";
  src: url("/assets/fonts/DINRoundOT-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "DINRoundOT";
  src: url("/assets/fonts/DINRoundOT-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
.active {
  color: #003A70;
}
